<h1><%= @post.title %> by <%= @post.author.username %></h1>
<p><%= @post.content %></p>

<% if @post.author == current_user %>
  <%= link_to "Edit post", edit_post_url(@post)%>
<% end %>

<h2>Comments</h2>

<%= link_to "Comment on this post", new_post_comment_url(@post) %>

<ul>
  <% @post.comments.each do |comment| %>
    <li><strong><%=" #{comment.author.username}, "%></strong><br>
      <%= comment.content %>
    </li>
  <% end %>
</ul>


<h2>Subs</h2>

<ul>
  <% @post.subs.each do |sub| %>
    <li><%= link_to sub.title, sub_url(sub) %></li>
  <% end %>
</ul>
